body {
  font-family: "Major Mono Display", monospace;
  font-family: "ZCOOL XiaoWei", serif;
  padding: 20px;
}

.weather-search-form {
  position: relative;
  top: 0;
  right: 0;
}
.weather {
  border: 2px;
}
